Source: adaptation-google-sargo
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian/adaptation-google-sargo
Vcs-Git: https://github.com/droidian/adaptation-google-sargo.git

Package: adaptation-google-sargo
Architecture: all
Depends: ${misc:Depends},
         linux-bootimage-google-sargo,
         adaptation-hybris-api28-phone,
         android-system-google-sargo,
         adaptation-google-sargo-configs,
         linux-bootimage-google-sargo,
Description: adapatation-google-sargo - meta
 Google Pixel 3a api28 adaptation metapackage

Package: adaptation-google-sargo-configs
Architecture: all
Depends: ${misc:Depends},
         adaptation-google-sargo (= ${binary:Version}),
Description: Google Pixel 3a's specific adaptation configs
