#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-google-sargo-configs --name=flashlight-perm flashlight-perm.service --no-start
	dh_installsystemd -padaptation-google-sargo-configs --name=flash-generic flash-generic.service --no-start
	dh_installsystemd -padaptation-google-sargo-configs --name=dt2w dt2w.service --no-start
	dh_installsystemd -padaptation-google-sargo-configs --name=camera-prop camera-prop.service --no-start
	dh_installsystemd -padaptation-google-sargo-configs --name=droidian-perf droidian-perf.service --no-start
