#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-google-sargo-configs --name=flashlight-perm flashlight-perm.service --no-start
	dh_installsystemd -padaptation-google-sargo-configs --name=flash-generic flash-generic.service --no-start
